h1 {
  text-align: center;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
  border-radius: 3px;
}

.ghost {
  background-color: gray;
  border-radius: 3px;
}

.food{
  background-color: rgb(168, 168, 255);
}

#score{
  font-size: 30px;
}

.gameOver{
  font-size: 100px;
  color: red;
}

.button{
  width: 80px;
  height: 40px;
  position: absolute;
  left: 650px;
  top: 300px;
}

.score{
  font-size: 50px;
}